body{
    background-color: azure;

}
.chelseaTeam{
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.button{
    display: inline-block;
    padding: 5px 8.5px;
    margin: 8px;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', "Roboto", sans-serif;
    font-weight: 400;
    color: black;
    background-color:#CCCCCC;
    text-align: center;
    position: relative;
    
}
button:hover{
    border: #7a7a7a;
}
button:active{
    background-color: #999999 ;
}
.downbutton{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue;
    position: absolute;
    left: 100px;
    top: 800px;
}
.back{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue;
    position: absolute;
    right: 100px;
    top: 800px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 3px;
    border: 2px;
}