body{
    background-color: azure;

}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue; 
    
}