body{
    background-color: azure;

}
div{
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
button{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue; 
    
}
div#third{
    display: flex;
    align-items: center;
    justify-content: end;
}
div#fourth{
    display: flex;
    align-items: center;
    justify-content: end;
}

.downbutton{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue;
    position: absolute;
    left: 100px;
    top: 1000px;
}
.back{
    margin: auto;
    border: 10px;
    padding: 10px;
    color: blue;
    position: absolute;
    right: 100px;
    top: 1000px;
}